{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "airbnb-base/legacy",
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "no-console": [0]
  }
}
